
*,
::before,
::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;


    background-color: #151515;

    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}
div#stats {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    width: 200px;
    height: 100px;
    opacity: 0.8;
    user-select: none;
    transform-origin: top right;
    scale: 0.5;
}